<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tasteforming.mapper.MyPageMapper">
	<select id="getReservation" resultType="com.tasteforming.domain.ReserveVO">
		select * from reservation where userid = #{userId}
	</select>
</mapper>